services:
  - type: web
    name: laravel-backend
    env: php
    buildCommand: "composer install --optimize-autoloader --no-dev"
    startCommand: "php artisan serve --host 0.0.0.0 --port $PORT"
    envVars:
      APP_ENV: production
      APP_KEY: ${APP_KEY}
      APP_DEBUG: false
      DB_CONNECTION: mysql
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      DB_DATABASE: ${DB_DATABASE}
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
